<section class="cta-card">
  <div class="cta-card__container">
    <header class="cta-card__header">
      
      <p class="cta-card__title">Youtube is here!</p>
      <p class="cta-card__description">
        Search below
      </p>
    </header>
    <div class="cta-card__input-box">
      <form action="/" method="post">
        <input id="search" name="search" class="cta-card__input" type="text" placeholder="Song Name" />
        <h2 style="color: red;" class="danger">{{error}}</h2>
        <button type="submit" class="cta-card__button">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.66669 16H25.3334" stroke="#3D476D" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M20 21.3333L25.3333 16" stroke="#3D476D" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
            <path d="M20 10.6667L25.3333 16" stroke="#3D476D" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>
      </form>
    </div>

  </div>
</section>
