<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}ddd</title>
    <link rel='stylesheet' href='/stylesheets/404.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
